---
dynatrace_token: dt0c01.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXx.CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
active_gate_version: 1.223.99
sdk_version: 1.223.99.20210818.200012
